@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(8, 1, 43);
}

html {
  color: white;
}

// .add-to-collection {
//   margin-left: 2rem;
// }

.btn-success {
  margin-top: -.2rem;
  margin-left: .3rem;
}

.card-info {
  background-position: center;
  background-repeat: none;
  background-image: url("./photo/NoImage.png");
  margin-bottom: 1vh;
}

.card-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cp-signout-div {
  position: absolute;
  right: 3vh;
  display: inline;
}

.dropDown-menu {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.Forms {
  display: inline-block;
}

.form-label {
  color: white;
  width: 19rem;
}

.input-form {
  background-color: rgb(52, 52, 52);
  color: white;
  width: 20vw;
}
.input-form-quantity {
  background-color: rgb(52, 52, 52);
  display: inline-flex;
  color: white;
  width: 5vw;
}

.form-label-quantity {
  display: inline;
  margin-right: .3rem;
}

.quantity-form {
  display: flex;
}

.quantity-row {
  display: flex;
  justify-content: center;
  margin-left: -2.25rem;
  margin-bottom: -.3rem;
}

.search-disclaimer {
  width: 1rem;
  font-size: .9rem;
}

.selected-collection {
  text-align: center;
  color: white;
}

#card-quantity {
  width: 3.5rem;
}

#setSearch {
  margin-left: 5rem;
  margin-top: 1.8rem;
}