@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(8, 1, 43);
}

html {
  color: white;
}

// .add-to-collection {
//   margin-left: 2rem;
// }

.card-info {
  background-position: center;
  background-repeat: none;
  background-image: url("./photo/NoImage.png");
  margin-bottom: 1vh;
}

.card-list {
  display: inline-block;
  text-align: center;
}

.cp-signout-div {
  position: absolute;
  right: 3vh;
  display: inline;
}

.dropdown-header_action {
  background-color: grey;
  color: black;
  text-align: center;
  right: 1rem;
  height: 1.5rem;
  margin-left: .3rem;
}

.dropdown-header {
  background-color: grey;
  display: inline-flex;
  text-align: center;
  text-size-adjust: 3rem;
  border-radius: 1.5rem;
  margin-left: 1.7rem;
  border-color: rgb(235, 180, 0);
  border-width: .2rem;
  border-style: solid;
}

.dropdown-header_title {
  background-color: grey;
  color: black;
  text-align: center;
  border-radius: 1rem;
  height: 1.5rem;
}

.dropDown-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.dropdown-list {
  position: absolute;
  width: 20vh;
  list-style-type: none;
  margin-left: .7rem;
}

.dropdown-values {
  width: 100%;
  color: rgb(235, 180, 0);
  background-color: rgb(52, 52, 52);
}

.dropdown-wrapper {
  width: 25vh;
}

.Forms {
  display: inline-block;
}

.form-label {
  color: white;
}

.input-form {
  background-color: rgb(52, 52, 52);
  color: white;
  width: 20vw;
}

.selected-collection {
  text-align: center;
  color: white;
}