@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(8, 1, 43);
}

html {
  color: white;
}

// .add-to-collection {
//   margin-left: 2rem;
// }

.card-info {
  background-position: center;
  background-repeat: none;
  background-image: url("./photo/NoImage.png");
  margin-bottom: 1vh;
}

.card-list {
  display: inline-block;
  text-align: center;
}

.cp-signout-div {
  position: absolute;
  right: 3vh;
  display: inline;
}

.form-label {
  color: white;
}

.input-form {
  background-color: rgb(52, 52, 52);
  color: white;
  width: 20vw;
}